.btn {
    cursor: pointer;
    padding: 10px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    display: block;
    line-height: 1;
}
